<style>
.section-header {
	background-image: url("{{ "/images/double_lines.png" | relative_url}}");
}
.section-header h1 {
	background-image: url("{{ "/images/bg.jpg" | relative_url }}");
}

.navbar .navcontrol .homelink {
	background-image: url("{{ "/images/top_logo.png" | relative_url }}");
}

.footer {
	background-image: url("{{ "/images/double_lines_footer.png" | relative_url }}");
}

.content-about .leaders figure .email:before {
	content: url("{{ "/images/email_icon.png" | relative_url }}");
}

.content-about .leaders div.tricolumn .email:before {
	content: url("{{ "/images/email_icon.png" | relative_url }}");
}
</style>
