<header class="navbar">
	<div class="navcontrol">
		<a href="index.html">
			<div class="homelink"><!-- style="background-image: url('images/top_logo.png');">-->
				<img src="{{ 'images/top_logo_hover.png' | base_url }}" />
			</div>
		</a>
		<div class="navlinks">
			<div><a href="about.html" class="{% if page.page == "about" %}current{% endif %}">About</a></div>
			<div><a href="smallgroups.html" class="{% if page.page == "smallgroups" %}current{% endif %}">Small Groups</a></div>
			<div><a href="largegroup.html" class="{% if page.page == "largegroup" %}current{% endif %}">Large Group</a></div>
			<div><a href="events.html" class="{% if page.page == "events" %}current{% endif %}">Events</a></div>
			<div><a href="calendar.html" class="{% if page.page == "calendar" %}current{% endif %}">Calendar</a></div>
			<div><a href="links.html" class="{% if page.page == "links" %}current{% endif %}">Links</a></div>
		</div>
	</div>
</header>
