<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link href="{{ "/css/main.css" | relative_url }}" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <title>CMU IVCF {% if page.title %} - {{ page.title }}{% endif %}</title>
  <!-- TODO: correct base url -->
  <meta name="description" content="InterVarsity Christian Fellowship CMU website" />
  <meta name="author" content="Michelle Reinhold" />
  <meta name="author" content="Sang Tian" />
</head>

